body{
    background-image:url(download\ \(1\).jpg);
    dispaly:no-repeat;
    
  
}
header{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
padding: 10PX;   
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-color: blue;
